footer{
    background-color: #000016;
    text-align: center;
    color: white;
    padding: 20px;
}
.footer .footer-title{
    font-size: 20px;
    font-weight: 600;
  }
.footer p{
    font-size: 16px;
    margin-top: 10px;
}
